# Dart & Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# IntelliJ / VSCode
.idea/
.vscode/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Android
**/android/.gradle/
**/android/local.properties
**/android/key.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/captures/
**/android/**/GeneratedPluginRegistrant.java
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/**/gradle-wrapper.jar

# iOS
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/DerivedData/
**/ios/Runner.xcworkspace/
**/ios/Flutter/ephemeral/

# macOS / Linux / Windows builds
**/macos/Flutter/ephemeral/
**/linux/flutter/
**/windows/flutter/

# Build artifacts
coverage/
app.*.symbols

# Firebase or secrets
*.json
*.plist
google-services.json
GoogleService-Info.plist

# Exceptions - keep source folders!
!lib/
!assets/
!pubspec.yaml
!pubspec.lock
